

.home-my{
	position: relative;
	width: 100vw;
	min-height: 100vh;

}
.home-my::after {

  content: "";
  background: url("./imagens/home-back.png");
  background-repeat: repeat;
  background-size: 20%;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.secao1:over a{

    color: #7a2be2;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 10px;
    transition: all .5s;
    background-color: green;


}

#secao1{
	background-color: rgba(254, 220, 210, 0.9);
	min-height: 120vh;
	width: 100vw;
}



.secao2::after{
	content: "";
	position: absolute;
	height: 120vh;
	width: 100vw;
	background: url("./imagens/mapafundo.png") no-repeat center top;

	background-color: #3300aa;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;


	filter: blur(7px);
	filter: invert(37%) drop-shadow(-10px 10px 20px #33a9ff);
  opacity: 0.4;



  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;

  z-index: -1;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.secao2 {
  position: relative;
  width: 100vw;
  top:0px;
}
.secao3::after {
 content: "";
  background: url("./imagens/back2.png");
  filter: sepia(60%);
  opacity: 0.3;

  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  padding: 0 0 0 0;
  margin: 0 0 0 0;


}

.secao3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  top:0px;
}

#secao4{
	min-height: 120vh;
	width: 100vw;
	background-color: rgba(188, 170, 164, 0.8);
	-webkit-font-smoothing: antialiased;

}

.a::after {
  content: "";
  background: url("./imagens/back4.png");
  filter: sepia(60%);
	filter: blur(3px);
  opacity: 0.35;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.b::after {
 content: "";
	background-color: black;
  opacity: 0.35;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


.secao5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  top:0px;
}

.bDA{
	margin-top: 130px;
	margin-left: 90px;
	width: 120%;
}

.Title{
	position: absolute;
	margin-top: 70px;
	margin-left: 70px;
    font-family: league-gothic, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 100px;


    color: #fff;
    text-shadow: 7px 5px 0 #00eeaa, 10px 10px 0 #5ac7ff, 12px 10px 0 #ffd217;
    }

 .subT{
	position: absolute;
	padding-top: 60px;
 	margin-left: 100px;
 	margin-bottom: 0;
 	color:  #eee;
 	font-family: 'courie new';
 	font-style: bold;
 	font-weight: 800;
 	text-shadow: 0px 2px 3px #000;


 }

#txt{
	text-align: center;
	margin-top:50px;
	font-size: 17px;
	text-align: justify;


}


.fundoTxt{
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.5);

}




.colorful {
  background:
    -webkit-linear-gradient(315deg, hsla(279.62, 7.27%, 46.89%, 1) 0%, hsla(279.62, 7.27%, 46.89%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(140, 79.6%, 93.53%, 1) 10%, hsla(140, 79.6%, 93.53%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(250.19, 12.64%, 43.22%, 1) 15%, hsla(250.19, 12.64%, 43.22%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(340, 6.25%, 44.3%, 1) 100%, hsla(340, 6.25%, 44.3%, 0) 70%);
  background:
    linear-gradient(135deg, hsla(279.62, 7.27%, 46.89%, 1) 0%, hsla(279.62, 7.27%, 46.89%, 0) 70%),
    linear-gradient(25deg, hsla(140, 79.6%, 93.53%, 1) 10%, hsla(140, 79.6%, 93.53%, 0) 80%),
    linear-gradient(315deg, hsla(250.19, 12.64%, 43.22%, 1) 15%, hsla(250.19, 12.64%, 43.22%, 0) 80%),
    linear-gradient(245deg, hsla(340, 6.25%, 44.3%, 1) 100%, hsla(340, 6.25%, 44.3%, 0) 70%);
  }
